@using BIOLIFE.Models;
@using BIOLIFE.Utilities;
@model List<CategoryModel>
@inject IConfiguration Configuration
@{ 
    var i = 0;
}
@if (Model != null)
{
<ul>
    @foreach (var item in Model)
    {
        if (i == 0)
        {
            <li class="list-product-name active" data-GroupProductId="@item.id"><a href="javascripts:;" class="">@item.name</a></li>

        }
        else
        {
            <li class="list-product-name " data-GroupProductId="@item.id"><a href="javascripts:;" class="">@item.name</a></li>
        }

    }
</ul>
}
