@using BIOLIFE.Models;
@using BIOLIFE.Utilities;
@model List<CategoryModel>
@{
    if (Model != null)
    {
        <div class="content">
            <div class="flex">
                <ul class="list-cat">

                    <li class="active Category-tag"> <a href="/tin-tuc"data-id="39" class="cat-tag">Tất cả</a></li>
                    @foreach (var item in Model)
                    {
                        <li class="Category-tag"> <a href="javascript:void(0)" data-id="@item.id" class="cat-tag">@item.name</a></li>
                    }
                </ul>
                <div class="form-search">

                    <input id="text_input" type="text" placeholder="Tìm kiếm tin...">
                    <button type="button"  text_input"" class="btn-search"><i class="icon icon-search"></i></button>

                </div>
            </div>
        </div>
    }
}