@{
    var group_product_parent_id =  ViewBag.group_product_parent_id;
}

<input type="hidden" id="group_product_parent_id" value="@group_product_parent_id" />
<section class="banner-product">
    <div class="container">
        <a href=""><img src="images/banner-home.png" alt=""></a>
    </div>
</section>
<section class="section-product">
    <div class="container">
        <div class="wrap-list-product" id="productList">
            <div class="left-sidebar">
                <h3 class="tt-filter">Danh mục</h3>
                <div id="group-product-left"></div>
            </div>
            <div class="product-category component-product-list">
                <div class="list-product">
                    
                </div>
                <div class="wrap-paging">
                    <a href="" class="xemthem">Xem thêm</a>
                    <ul class="pagination">
                        <!-- <li class="page first"><a href=""><i class="icon icon-page-first"></i></a></li> -->
                        <li class="page previous disabled"><a href=""><i class="icon icon-page-previous"></i></a></li>
                        <li class="page active"><a href="">1</a></li>
                        <li class="page"><a href="">2</a></li>
                        <li class="page"><a href="">...</a></li>
                        <li class="page"><a href="">3</a></li>
                        <li class="page next"><a href=""><i class="icon icon-page-next"></i></a></li>
                        <!-- <li class="page last"><a href=""><i class="icon icon-page-last"></i></a></li> -->
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>


<div id="popup-dathang" class="popup-overlay popup" style="display: none;">
    <div class="popup-wrapper">
        <div class="popup-content">
            <span class="popup-close">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
                    <path d="M19.281 18.7193C19.3507 18.789 19.406 18.8717 19.4437 18.9628C19.4814 19.0538 19.5008 19.1514 19.5008 19.2499C19.5008 19.3485 19.4814 19.4461 19.4437 19.5371C19.406 19.6281 19.3507 19.7109 19.281 19.7806C19.2114 19.8502 19.1286 19.9055 19.0376 19.9432C18.9465 19.9809 18.849 20.0003 18.7504 20.0003C18.6519 20.0003 18.5543 19.9809 18.4632 19.9432C18.3722 19.9055 18.2895 19.8502 18.2198 19.7806L12.0004 13.5602L5.78104 19.7806C5.64031 19.9213 5.44944 20.0003 5.25042 20.0003C5.05139 20.0003 4.86052 19.9213 4.71979 19.7806C4.57906 19.6398 4.5 19.449 4.5 19.2499C4.5 19.0509 4.57906 18.86 4.71979 18.7193L10.9401 12.4999L4.71979 6.28055C4.57906 6.13982 4.5 5.94895 4.5 5.74993C4.5 5.55091 4.57906 5.36003 4.71979 5.2193C4.86052 5.07857 5.05139 4.99951 5.25042 4.99951C5.44944 4.99951 5.64031 5.07857 5.78104 5.2193L12.0004 11.4396L18.2198 5.2193C18.3605 5.07857 18.5514 4.99951 18.7504 4.99951C18.9494 4.99951 19.1403 5.07857 19.281 5.2193C19.4218 5.36003 19.5008 5.55091 19.5008 5.74993C19.5008 5.94895 19.4218 6.13982 19.281 6.28055L13.0607 12.4999L19.281 18.7193Z" fill="#2A3262"></path>
                </svg>
            </span>
            <div class="section-contact">
                <div class="block-contact">
                    <h2 class="title-section text-center">Đăng kí mua sản phẩm</h2>

                    <h5 class="title-section text-center ss-dk" style="color:red;display:none">Đăng kí sản phẩm thành công</h5>

                    <div class="flex">
                        <form id="form-dk-sp">
                            <div class="grid-box">

                                <div class="grid-2">
                                    <div class="form-group form-group-2">
                                        <label>Họ tên</label>
                                        <input id="name" name="name" class="form-control" type="text">
                                        <label class="err-name" style="color:red;display:none">không được bỏ trống</label>
                                    </div>
                                    <div class="form-group form-group-2">
                                        <label>Số điện thoại</label>
                                        <input id="phone" name="phone" class="form-control" type="tel">
                                        <label class="err-phone" style="color:red;display:none">không được bỏ trống</label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>Tên công ty / cửa hàng</label>
                                    <input id="ShopName" name="ShopName" class="form-control" type="text">
                                    <label class="err-ShopName" style="color:red;display:none">không được bỏ trống</label>
                                </div>
                                <div class="grid-2">
                                    <div class="form-group form-group-2">
                                        <label>Tỉnh thành </label>
                                        <select class="form-control ProvinceId" id="ProvinceId" onchange="group_product.load_District()">
                                        </select>
                                    </div>
                                    <div class="form-group form-group-2">
                                        <label>Khu vực hoạt động</label>
                                        <select class="form-control DistrictId" id="DistrictId">
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Sản phẩm</label>
                                    <select class="form-control" id="ProductId">
                                    </select>
                                    @* <div class="mt-2">
                                            <p>Nơi sản xuất: Mỹ</p>
                                            <p>Số lượng: 42 miếng</p>
                                        </div> *@

                                </div>
                                <div class="form-group">
                                    <label>Lời nhắn</label>
                                    <textarea class="form-control" id="note" rows="3"></textarea>
                                </div>
                                <div class="action text-center">
                                    <a href="#popup-dathang" class="btn btn-base dk-sp" style="min-width: 170px;">
                                        Đăng
                                        ký
                                    </a>
                                </div>
                            </div>
                        </form>
                        <div class="box-product product_sp">
                            <h4 class="title-sp">Tã quần OMORI Balance siêu mềm mại</h4>
                            <div class="price-sp">185.000 đ</div>
                            <img src="images/img.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>