<style>
    .select-options {
        display: none !important;
    }
    .select-styled {
        display: none !important;
    }
    .error {
        color: red !important;
    }
    .section-daily .flex {
        gap: 30px !important;
    }
</style>
<section class="section-daily">
    <div class="container">
        <div class="text-center mb-4">
            <h3 class="sub-title">Tại sao bạn nên hợp tác cùng chúng tôi?</h3>
            <h2 class="title-section">Đồng hành kinh doanh – Khởi đầu vững vàng cùng OMORI</h2>
        </div>
        <div class="flex align-items-start">
            <div class="accordion">
                <div class="accordion-group">
                    <div class="accordion-toggle active">Sản phẩm dễ bán, nhu cầu cao</div>
                    <div class="accordion-panel" style="display: block;">
                        <p>   •        Lợi thế cạnh tranh: công nghệ Nhật, phù hợp thể trạng trẻ Việt.</p>
                    </div>
                </div>
                <div class="accordion-group">
                    <div class="accordion-toggle">Chính sách chiết khấu và lợi nhuận hấp dẫn</div>
                    <div class="accordion-panel" style="display: none;">
                        <p>•        Chiết khấu cao, linh hoạt theo cấp đại lý (cấp 1, cấp 2…).</p>
                        <p>•        Ưu đãi riêng cho đại lý mới: hỗ trợ nhập hàng lần đầu, tặng kèm sản phẩm mẫu.</p>
                        <p>•        Cam kết lợi nhuận ổn định và lâu dài.</p>
                    </div>
                </div>
                <div class="accordion-group">
                    <div class="accordion-toggle">Hỗ trợ marketing và truyền thông mạnh mẽ</div>
                    <div class="accordion-panel">
                        <p> •        Omori đầu tư bài bản vào thương hiệu: quảng cáo online, KOLs, các chương trình đồng hành cùng mẹ và bé.</p>
                        <p> •        Cung cấp đầy đủ ấn phẩm, hình ảnh, nội dung truyền thông cho đại lý.</p>
                        <p>•        Hỗ trợ tổ chức các hoạt động bán hàng và sự kiện tại địa phương.</p>
                    </div>
                </div>
                <div class="accordion-group">
                    <div class="accordion-toggle">Đào tạo và đồng hành phát triển</div>
                    <div class="accordion-panel">
                        <p> •        Được huấn luyện bán hàng, chăm sóc khách hàng, kiến thức sản phẩm từ đội ngũ chuyên môn.</p>
                        <p>•        Omori đồng hành dài hạn, hỗ trợ xử lý khó khăn trong quá trình bán hàng.</p>
                        
                    </div>
                </div>
                <div class="accordion-group">
                    <div class="accordion-toggle">Cùng Omori phát triển - Cùng lan tỏa yêu thương</div>
                    <div class="accordion-panel">
                        <p> •        Kêu gọi hành động: trở thành đại lý để không chỉ kinh doanh hiệu quả mà còn góp phần chăm sóc trẻ em Việt tốt hơn.</p>
                        <p>•        Cam kết từ Omori: minh bạch – đồng hành – phát triển bền vững.</p>
                    </div>
                </div>
                <small class="mt-3 d-block">
                    *Điều kiện trở thành đại lý: Có mô hình kinh doanh ổn định, cam kết doanh số
                    tối thiểu theo vùng
                </small>

            </div>
            <div class="box-product">
                <img src="images/img1.jpg" alt="">
            </div>
        </div>
    </div>
</section>
<section class="section-contact section-contact-page">
    <div class="container">
        <div class="block-contact">
            <div class="flex">
                <form id="form-dk-dl">
                    <div class="grid-box">

                        <h2 class="title-section text-center">Đăng kí đại lý</h2>

                        <h5 class="title-section text-center ss-dk-dl" style="color:red;display:none">Đăng kí đại lý thành công</h5>

                        <div class="grid-2">
                            <div class="form-group form-group-2">
                                <label>Họ tên / Tên công ty</label>
                                <input id="Name-dl" name="Name-dl" class="form-control" type="text">
                            </div>
                            <div class="form-group form-group-2">
                                <label>Số điện thoại</label>
                                <input id="Phone-dl" name="Phone-dl" class="form-control" type="tel">
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Lời nhắn</label>
                            <textarea class="form-control" id="Note-dl" rows="3"></textarea>
                        </div>
                        <div class="action text-center">
                            <a href="javascript:void(0)" class="btn btn-base dk-dl" style="min-width: 170px;">
                                Đăng
                                ký
                            </a>
                        </div>
                    </div>
                </form>
                <div class="box-product">
                    <img src="images/img2.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>